.title {
    text-align: center;
}
.formDiv {
    width: 30%;
    margin: 25px auto;
}
input {
    display: inline-block;
    width: 100%;
}
textarea {
    resize: none;
    height: 150px;
    width: 100%;
}
